.cell{
  background-color: gray;
  border: 1px solid white;
  height: 17px;
  width:  17px;
  display: inline-block;
}

#gameboard{
  line-height: 0;
}

.blue{
  background-color: blue;
}

.green{
  background-color: green;
}
