.cell{
  background-color: #F5F5F0;
  opacity: 0.9;
  border: 1px solid white;
  height: 27px;
  width:  27px;
  display: inline-block;
}

#gameboard{
  line-height: 0;
}

.blue{
  background-color: blue;
}

.green{
  background-color: green;
}

.red{
  background-color: red;
}

.yellow{
  background-color: yellow;
}

.transparent{
  opacity: 0;
  height: 5px;
}

#navbar-text{
  color: #fff;
}

.navbar {
  opacity: 1;
}

.spacer {
  height:50px;
}

.whole-page {
    background-image: url(assets/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #000;
}